@font-face {
    font-family: 'Fira Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'), url('FiraSans-Regular.woff2') format('woff');
    }
    

    @font-face {
    font-family: 'Fira Sans Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Italic'), url('FiraSans-Italic.woff2') format('woff');
    }
    

    @font-face {
    font-family: 'Fira Sans Thin';
    font-style: normal;
    font-weight: 100;
    src: local('Fira Sans Thin'), url('FiraSans-Thin.woff2') format('woff');
    }
    

    @font-face {
    font-family: 'Fira Sans Light';
    font-style: normal;
    font-weight: 300;
    src: local('Fira Sans Light'), url('FiraSans-Light.woff2') format('woff');
    }
     

    @font-face {
    font-family: 'Fira Sans Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'), url('FiraSans-Medium.woff2') format('woff');
    }
    
    

    @font-face {
    font-family: 'Fira Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Fira Sans Bold'), url('FiraSans-Bold.woff2') format('woff');
    }
    
    
    @font-face {
        font-family: 'Fira Code';
        src: url('woff2/FiraCode-Regular.woff2') format('woff2'),
          url("woff/FiraCode-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: 'Fira Code';
        src: url('woff2/FiraCode-Medium.woff2') format('woff2'),
          url("woff/FiraCode-Medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: 'Fira Code';
        src: url('woff2/FiraCode-Bold.woff2') format('woff2'),
          url("woff/FiraCode-Bold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
      }