{{ define "main" }}
  <ul class="archive">
    {{ range ((where $.Site.RegularPages "Section" "blog").GroupByDate "January 2006") }}
      <li>
        <p>{{ .Key }}</p>
        {{ range .Pages }}
          <ul>
            
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <p style="font-size:16px;" color:="var(--text-light);">{{ .Summary | truncate 300 }}</p>
            <p style="font-size:14px;" color:="var(--text-light);">{{ .Date | time.Format ":date_long" }}</p></li>
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
