@font-face {
  font-family: 'IBM Plex Serif';
  src: url('IBMPlexSerif.eot');
  src: local('IBM Plex Serif'), local('IBMPlexSerif'),
      url('IBMPlexSerif.eot?#iefix') format('embedded-opentype'),
      url('IBMPlexSerif.woff2') format('woff2'),
      url('IBMPlexSerif.woff') format('woff'),
      url('IBMPlexSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('IBMPlexSerif-Medium.eot');
  src: local('IBM Plex Serif Medium'), local('IBMPlexSerif-Medium'),
      url('IBMPlexSerif-Medium.eot?#iefix') format('embedded-opentype'),
      url('IBMPlexSerif-Medium.woff2') format('woff2'),
      url('IBMPlexSerif-Medium.woff') format('woff'),
      url('IBMPlexSerif-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('IBMPlexSerif-Bold.eot');
  src: local('IBM Plex Serif Bold'), local('IBMPlexSerif-Bold'),
      url('IBMPlexSerif-Bold.eot?#iefix') format('embedded-opentype'),
      url('IBMPlexSerif-Bold.woff2') format('woff2'),
      url('IBMPlexSerif-Bold.woff') format('woff'),
      url('IBMPlexSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('IBMPlexSerif-Light.eot');
  src: local('IBM Plex Serif Light'), local('IBMPlexSerif-Light'),
      url('IBMPlexSerif-Light.eot?#iefix') format('embedded-opentype'),
      url('IBMPlexSerif-Light.woff2') format('woff2'),
      url('IBMPlexSerif-Light.woff') format('woff'),
      url('IBMPlexSerif-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('IBMPlexSerif-SemiBold.eot');
  src: local('IBM Plex Serif SemiBold'), local('IBMPlexSerif-SemiBold'),
      url('IBMPlexSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('IBMPlexSerif-SemiBold.woff2') format('woff2'),
      url('IBMPlexSerif-SemiBold.woff') format('woff'),
      url('IBMPlexSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('IBMPlexSerif-Italic.eot');
  src: local('IBM Plex Serif Italic'), local('IBMPlexSerif-Italic'),
      url('IBMPlexSerif-Italic.eot?#iefix') format('embedded-opentype'),
      url('IBMPlexSerif-Italic.woff2') format('woff2'),
      url('IBMPlexSerif-Italic.woff') format('woff'),
      url('IBMPlexSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
    
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('IBMPlexMono.eot');
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
      url('IBMPlexMono.eot?#iefix') format('embedded-opentype'),
      url('IBMPlexMono.woff2') format('woff2'),
      url('IBMPlexMono.woff') format('woff'),
      url('IBMPlexMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}