{{ define "main" }}
  <ul class="archive">
    {{ range ((where $.Site.RegularPages "Section" "coffee").GroupByDate "January 2006") }}
      <p class="coffee-date">{{ .Key }}</p>
      <div class="coffee-list">
        {{ range .Pages }}
          <div class="coffee-item">
            <a href="{{ .RelPermalink }}">
              <div class="coffee-image">
                <!-- Apply the circular container to the image -->
                <div class="circle-container">
                  <img src="{{ .Params.header_image }}" alt="{{ .Title }}">
                </div>
              </div>
              <p style="font-size: 12px; color: #9ca3af;">
                {{ with .Date }}{{ . | time.Format ":date_long" }}{{ end }}
              </p>
              <h3>{{ .Title }}</h3>
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </ul>
{{ end }}