{{ define "main" }}
  <div class="coffee-archive">
    {{ range ((where $.Site.RegularPages "Section" "coffee").GroupByDate "January 2006") }}
      <p class="coffee-date">{{ .Key }}</p>
      <div class="coffee-list">
        {{ range .Pages }}
          <div class="coffee-item">
            <a href="{{ .RelPermalink }}" class="coffee-link">
              <div class="circle-container">
                <img src="{{ .Params.header_image }}" alt="{{ .Title }}">
              </div>
              <p class="coffee-date-individual">
                {{ with .Date }}{{ . | time.Format ":date_long" }}{{ end }}
              </p>
              <h3 class="coffee-title">{{ .Title }}</h3>
            </a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}