<p class="cta">Thoughts? <a href="mailto:krabfx@gmail.com">Email me.</a></p>
<br>
<em>Did you find this post useful?</em>
<br>
<br>
<div class="donation">
<a href="https://www.buymeacoffee.com/krabf" target="_blank">
        <img src="https://cdn.buymeacoffee.com/buttons/v2/lato-yellow.png" alt="Buy Me A Coffee" style="border-radius:6px;height:35px!important;width:130px!important"></a></div>

<p class="cta">Please consider sharing it with your network! This blog is entirely self-funded, 
    and relies on the generosity of readers to keep things active and ad free. If you would like 
    to support my work, you can make a one-time or recurring donation <a href="https://www.buymeacoffee.com/krabf">here</a>
</p>