<!-- Basic Meta Tags -->
<title>{{ if ne .Title .Site.Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<meta name="description" content="{{ .Description | default (.Summary | plainify | default .Site.Params.description) }}" />

<!-- Open Graph tags -->
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description | default (.Summary | plainify | default .Site.Params.description) }}">

<!-- Set Open Graph image with appropriate fallback -->
{{ $ogImage := "" }}
{{ if .Params.image }}
    {{ $ogImage = .Params.image | absURL }}
{{ else }}
    {{ $ogImage = .Site.Params.ogimage | absURL }}
{{ end }}
<meta property="og:image" content="{{ $ogImage }}" />
<meta property="og:description" content="{{ .Description | default (.Summary | plainify | default .Site.Params.description) }}" />

<!-- Twitter Card tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@krabf_"/>
<meta name="twitter:creator" content="@krabf_"/>
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ .Description | default (.Summary | plainify | default .Site.Params.description) }}" />
<meta name="twitter:image" content="{{ $ogImage }}" />
<meta property="twitter:domain" content="{{ .Site.BaseURL | replaceRE "^https?://" "" }}" />
<meta property="twitter:url" content="{{ .Permalink }}" />

{{ template "_internal/schema.html" . }}