{{ define "main" }}
<h1>I am sorry, but it seems that the page you’re looking for can’t be found or no longer exists. 
    The truth is, I am not too worried about getting lost. There are times when we all need to get lost in some way. 
    Whether it’s physically, emotionally, psychologically, or even on the Internet. 
    <br> 
    <br>
    There was a problem finding the 
    URL or page you were looking for, but who cares? You must have spelt something wrong or perhaps I have already 
    deleted or moved the page. 
    <br>
    <br>
    Getting lost is important. The ability to get lost is always surprising. Although this is just a 404 page, 
    let this be the start of allowing yourself to follow your <i><a href="https://www.youtube.com/watch?v=Pj-h6MEgE7I">curiousity.</i></a>
    </h1>
{{ end }}
