{{ define "main" }}
<h1>Oh no! It looks like the page you're searching for can't be found or no longer exists. 
    But don’t worry, getting lost can be a good thing sometimes, whether it’s physically, 
    emotionally, psychologically, or even on the Internet. We all need to explore new paths and take 
    unexpected turns every once in a while. 
    <br> 
    <br>
    It's possible you may have misspelled something or maybe the page has been deleted or moved. 
    But hey, don't sweat it! Let's keep moving forward and see where the journey takes us.
    <br>
    <br>
    Remember, getting lost can be an adventure! The ability to get lost is always surprising and can 
    lead to unexpected discoveries. So, let this be an opportunity to embrace your 
    <i><a href="https://www.youtube.com/watch?v=Pj-h6MEgE7I" style="text-decoration: red wavy underline;">curiousity.</i></a>
    </h1>
{{ end }}
