{{ define "main" }}
  <div class="markup">
    <p>Hi, my name is Kush (she/her) and I’m an independent filmmaker and video editor based in Cebu City, Philippines. I’m currently working as a video editor at a Singapore-based 
      <a href="https://fewstones.com/">video production company</a>. I create and write short films and collaborate 
      with fellow artists. My thesis film has been exhibited at independent film festivals in the Philippines. I make <a href="https://krabf.gumroad.com/">Notion templates</a>, explore technology, publish thoughts. 
      I also happen to love brewing coffee at home and my reviews can be found <a href="https://krabf.com/coffee/">here</a>.</p> 
  <br>
  <p> If you're interested in knowing, here's what I'm up to right <a href="/now">now</a>.</p>
    <hr>
    <p>This blog has been going on and off since 2015. On my blog, I am sharing thoughts on technology or anything that interest me.</p>
    <ul class="link-list">
      <li>
        <a href="/always-exploring-the-web">
          <strong>Always Exploring the Web</strong>
          How the World Wide Web fascinates me.
        </a>
      </li>
      <li>
        <a href="/note-taking-apps">
          <strong>Note-taking Apps</strong>
          Why is there a lot of note-taking apps out there?
        </a>
      </li>
      <li>
        <a href="/this-pandemic-is-not-going-anywhere">
          <strong>This pandemic is not going anywhere</strong>
          The pandemic is a fuck you to all of us.
        </a>
      </li>
      <li>
        <a href="/okay-so-maybe-i-will-try-to-write">
          <strong>Okay So Maybe I Will Try To Write</strong>
          A bad writer's take on writing for this blog.
        </a>
      </li>
      <li>
        <a href="/the-hype-about-productivity">
          <strong>The Hype About Productivity</strong>
          Everyone is talking about it, yet productivity is a very abstract concept.
        </a>
      </li>
    </ul>
  <!--
     <hr>
    <p>I send an occasional newsletter with personal stories, things I’m working on, and other interesting tidbits I come across online. [Experiment]</p>
    <form
      method="post"
      action="experimentlink"
      class="newsletter-form"
    >
      <div class="newsletter-form-input-wrapper">
        <input
          type="email"
          value=""
          name="email"
          style="max-width: 22ch"
          placeholder="Email"
        >
        <input type="submit" value="Subscribe" />
      </div>
      <p>
        Only for occasional updates.
      </p>
    </form>

  -->
    <hr>
    <p>If you want to get in touch to chat about anything else meaningful or meaningless, you can send me an <a href="mailto:krabfx@gmail.com">email</a> 
      or find me at <a rel="me" href="https://mastodon.social/@krabf">Mastodon</a>.</p>
  </div>
{{ end }}
