{{ define "main" }}
  <ul class="archive">
    {{ range where $.Site.RegularPages "Section" "links" }}
      <div class="coffee-item">
        <a href="{{ .RelPermalink }}">
          <div class="coffee-image">
            <!-- Apply the circular container to the image -->
            <div class="circle-container">
              <img src="{{ .Params.header_image }}" alt="{{ .Title }}">
            </div>
          </div>
          <h3>{{ .Title }}</h3>
        </a>
      </div>
    {{ end }}
  </ul>
{{ end }}