{{ define "main" }}
<article class="blog">
  <header>
    <h2>{{ .Title }}</h2>
    <p>
      {{ with .Params.external_url }}
        ⌘ <a href="{{ . }}" target="_blank" rel="noopener noreferrer">{{ (urls.Parse .).Host }}</a>
    {{ end }}
    </p>
    <p>
    <time datetime="{{ .Date.Format "January 2, 2006" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      </p>
  </header>
  {{ with .Params.image }}
    <figure style="margin: 2rem 0;">
      <img src="{{ . }}" alt="{{ $.Title }}" width="1200" height="675" style="width:100%; max-width:100%; height:auto;" loading="lazy">
    </figure>
  {{ end }}
  {{ with .Params.description }}
    <div class="markup" style="margin-top: 1.5rem;">
      {{ . | markdownify }}
    </div>
  {{ end }}
  <hr class="s1">
  {{ partial "cta.html" . }}
  <hr class="s1">

</article>
{{ end }}
